DirectoryIndex index.php
RedirectMatch 404 ^/config/.*$
RedirectMatch 404 ^/core/.*$
RedirectMatch 404 ^/models/.*$
RedirectMatch 404 ^/modules/.*$
RedirectMatch 404 ^/template/.*$
RedirectMatch 404 ^/uploads/?$
RedirectMatch 404 ^/.git/.*$
RedirectMatch 404 .env
