@import url('../fonts/css/satoshi.css');
@import url('color.css');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: satoshi; */
    font-family: 'Satoshi-Variable', sans-serif;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: 'Satoshi';
	vertical-align: baseline;
}

body{
    min-height: 110vh;
}

body::-webkit-scrollbar {
    display: none;
}

.fixed-layer{
    width: 100%;
}

/* Start: Sidebar */

.sidebar{
    background-color: var(--neutral-10-color);
    /* grid-area: sidebar; */
    position: fixed;
    margin-top: 88px;
    width: 260px;
    height: calc(100vh - 88px);
    flex-direction: column;
    /* justify-content:; */
    border-right: solid 2px var(--neutral-20-color);
}

.menus-groups{
    /* margin: 0 20px; */
    /* padding-top: 20px; */
    padding: 20px;
    flex: auto;
    flex-direction: column;
    overflow-y: scroll;
    justify-content: flex-start;
    height: calc(100vh - 88px);
    gap: 12px;
}

.menus-groups::-webkit-scrollbar {
    display: none;
}

p.menus-heading{
    font-family: 'Satoshi-Bold';
    font-size: 14px;
    color: var(--neutral-50-color);
    display: block;
    margin-bottom: 8px;
}

.menus-container{
    /* flex: auto; */
}

.menus-group{
    flex-direction: column;
    gap: 12px;
}

a.menu{
    align-items: center;
    height: 48px;
    flex: auto;
    text-decoration: none;
    margin: 0;
    padding: 0;
    padding-left: 12px;
    /* margin-bottom: 12px; */
    display: block;
}

.menu-icon{
    stroke: var(--neutral-100-color);
}

.menu-title{
    display: block;
}

p.menu-title{
    font-size: 16px;
    font-family: 'Satoshi-Medium';
    color: var(--neutral-100-color);
    display: block;
    height: max-content;
    margin: 0;
    padding-left: 8px;
}

.logout-container{
    border-top: solid 2px var(--neutral-20-color);
    padding: 8px 20px;
    flex: auto;
    flex-direction: column;
    /* overflow-y: scroll;    */
    height: auto;
}
p#logout{
    font-family: 'Satoshi-Medium';
    color: var(--semantic-danger-main-color);
}

.logout-icon{
    stroke: var(--semantic-danger-main-color);
}

a.menu-active{
    align-items: center;
    height: 48px;
    flex: auto;
    text-decoration: none;
    margin: 0;
    padding: 0;
    padding-left: 12px;
    border-radius: 12px;
    /* margin-bottom: 12px; */
    display: block;
    background-color: var(--primary-main-color);
    box-shadow: var(--shadows-preset);
}

.menu-icon-active{
    stroke: var(--neutral-10-color);
}

p.menu-title-active{
    font-size: 16px;
    font-family: 'Satoshi-Medium';
    display: block;
    height: max-content;
    margin: 0;
    padding-left: 8px;
    color: var(--neutral-10-color);
}


/* End: Sidebar */

/* Start: Navbar */

.container-nav{
    /* margin-left: 260px; */
    height: 88px;
    position: fixed;
    /* width: 1282px; */
    width: calc(100%);

    /* EDIT BELOW */
    background-color: var(--neutral-10-color);
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid var(--neutral-20-color);
    padding: 0 24px;
}

a.logo{
    align-items: center;
    min-height: 88px;
    max-height: 88px;
    border-right: solid 2px var(--neutral-20-color);
    /* padding-left: 20px; */
    width: calc(260px - 24px);
    margin-right: 24px;

}

.logo-ruangbaca{
    fill: var(--primary-main-color);
}

input.search-fields{
    background: transparent url("/assets/icon/search-icon.svg") no-repeat 12px;
    border-radius: 12px;
    width: 420px;
    height: 48px;
    display: block;
    padding: 9px 4px 9px 40px;
    background-color: var(--neutral-20-color);
    border: solid 1px var(--neutral-30-color);
}

.custom-landing-search{
    width: 320px !important;
    background-color: var(--neutral-10-color);
    border: solid 1px var(--neutral-20-color);
    border-radius: 100px !important;

}



input.search-fields[type="text"]{
    font-family: 'Satoshi-Regular';
    font-size:16px;
}

textarea:focus, input:focus{
    outline: none;
}

input.search-fields:focus{
    background-color: var(--neutral-10-color);
}

.navbar-content{
    width: fit-content;
    align-items: center;
    display: flex;
    gap: 24px;

}

.vertical-divider{
    height: 28px;
    border-left: solid 2px var(--neutral-40-color);
}

.account-profile{
    gap: 8px;
    align-items: center;
}

.photo-profile{
    border-radius: 200px;
}

.navbar-content-text{
    flex-direction: column;
    gap: 2px;
}

.navbar-content-name{
    font-family: 'Satoshi-Bold';
    font-size: 18px;
    color: var(--neutral-100-color);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    text-overflow: ellipsis;
}

p, .navbar-content-users{
    font-family: 'Satoshi-Medium';
    font-size: 14px;
    color: var(--neutral-70-color);
    width: fit-content;
    display: block;
    height: fit-content;
    margin: 0;
    padding: 0;
}

/* End: Navbar */



/* MAIN */

.container-main{
    /* border: solid 2px red; */
    margin-left: calc(260px + 20px);
    margin-top: calc(88px + 20px);
    margin-right: 20px;
    margin-bottom: 20px;
    /* background-color: blueviolet;  */
    height: fit-content;
    height: 100vh;
    /* width: calc(100% - 260px - 20px - 20px); */
    /* position: relative; */
}

/* Start : Filter */

.filter-collection{
    border-radius: 12px;
    border: solid 2px var(--neutral-20-color);
    background-color: var(--neutral-10-color);
    min-width: 220px;
    padding: 16px;
    height: max-content;

}

.filter-groups{
    width: 100%;
    flex-direction: column;
    gap: 8px;

}

.filter-group{
    width: 100%;
    gap: 8px;
    flex-direction: column;
    margin-bottom: 8px;
}

.filter-title{
    width: 100%;
    height: 32px;
    align-items: center;
    justify-content: space-between;
}

p.filter-heading{
    margin: 0;
    font-family: 'Satoshi-Bold';
    font-size: 16px;
    color: var(--neutral-100-color);
    display: block;
    height: fit-content;
}

.filter-contents{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

button.btn-filter{
    align-items: center;
    height: 36px;
    width: fit-content;
    padding: 0 12px;
    border-radius: 12px;
    border: solid 1px var(--neutral-50-color);
    font-family: 'Satoshi-Medium';
    font-size: 14px;
    color: var(--neutral-70-color);
    background-color: var(--neutral-10-color);
}

button.btn-filter:hover{
    background-color: var(--neutral-20-color);
}

button.btn-filter:focus, button.btn-filter:active{
    border: solid 2px var(--primary-main-color);
    color: var(--primary-main-color);
}

.hr-divider{
    width: 100%;
    border-bottom: solid 2px var(--neutral-20-color);
}

.form-data{
    flex-direction: column;
    gap: 8px;
}

input.radio-filter[type="checkbox"]:before{
    border: solid 1px var(--neutral-100-color);
}

.form-check-label{
    font-size: 14px;
    font-family: 'Satoshi-Medium';
    color: var(--neutral-100-color);

    /* text hidden */
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    /* number of lines to show */
    line-clamp: 1;
    -webkit-box-orient: vertical;
}

input.filter-search-fields{
    background: transparent url("/assets/icon/filter-search-icon.svg") no-repeat 12px;
    border-radius: 12px;
    width: 100%;
    height: 40px;
    display: block;
    padding: 9px 4px 9px 40px;
    background-color: var(--neutral-20-color);
    border: solid 1px var(--neutral-30-color);
}

input.filter-search-fields[type="text"]{
    font-family: 'Satoshi-Regular';
    font-size:14px;
}

input.filter-search-fields:focus{
    background-color: var(--neutral-10-color);
}

a.more-filter{
    text-decoration: none;
    font-family: 'Satoshi-Medium';
    font-size: 12px;
    color: var(--primary-main-color);
}

/* End: Filter */


/* COLLECTIONS */

.container-collection{
    width: 100%;
}


.collections{
    /* background-color: darkgreen; */
    flex: auto;
    margin-left: 20px;
    gap: 16px;
}



/* Start: Collection Filter Items */

.filtered-items{
    /* background-color: greenyellow; */
    /* flex: auto; */
    height: 48px;
    gap: 16px;
    align-items: end;
}

.filter-item{
    justify-content: center;
    align-items: center;
    height: 36px;
    width: fit-content;
    padding: 0 8px;
    border: solid 2px var(--primary-main-color);
    border-radius: 12px;
    font-family: 'Satoshi-Medium';
    font-size: 14px;
    color: var(--primary-main-color);
    background-color: var(--neutral-10-color);
    gap: 4px;
}

p.filtered-title{
    font-size: 14px;
    font-family: 'Satoshi-Medium';
    color: var(--primary-main-color);
    margin: 0;
    height: fit-content;
}

button.filter-item-closed{
    justify-content: center;
    border: none;
    background-color: transparent;
    padding: 0;
    margin: 0;
}

/* Start: Collection Views */

.collection-views{
    /* background-color: aquamarine; */
    width: 100%;
    align-items: center;
}

p.total-views{
    font-size: 14px;
    font-family: 'Satoshi-Medium';
    color: var(--neutral-70-color);
    margin: 0;
    height: fit-content;
}

.sorting-content{
    justify-content: center;
    align-items: center;
    gap: 8px;
}

button.dropdown-sorting{
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: 36px;
    padding: 0 12px;
    gap: 8px;
    border-radius: 12px;
    border: solid 1px var(--neutral-30-color);
    font-family: 'Satoshi-Medium';
    font-size: 14px;
    color: var(--neutral-100-color);
    background-color: var(--neutral-20-color);
}

.dropdown-menu{
    width: min-content;
    font-family: 'Satoshi-Regular';
    font-size: 10px;
    width: 109px;
}

.dropdown-menu > #risk-action{
    color: var(--semantic-danger-main-color);
}

.dropdown-item:hover ~{
    color: var(--primary-main-color);

}

.pagination {
    padding-top: 32px;
    align-self: self-end;
    gap: 8px;
  }

  .pagination a {
    display: flex;
    color: var(--neutral-100-color);
    /* float: center; */
    align-items: center;
    justify-content: center;
    padding: 0 auto;
    height: 24px;
    width: 24px;
    /* padding: 8px 16px; */
    text-decoration: none;
    font-family: 'Satoshi-Medium';
    font-size: 14px;
  }

  .pagination a.active {
    background-color: var(--primary-main-color);
    color: var(--neutral-10-color);
    border-radius: 8px;
  }

  .pagination a:hover:not(.active) {
    background-color: var(--neutral-20-color);
    border-radius: 8px;
  }

/* Start: Books Collection */

.books-collection{
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 32px;
    height: max-content;
}

.book-collection{
    flex-direction: column;
    gap: 12px;
}

.book-collection:hover{
    cursor: pointer;
}

.book-collection:hover > .book-content > p.book-collection-title{
    color: var(--primary-main-color);
}

.book-cover{
    width: 169px;
    height: 203px;

    /* VVV DELETE SOON VVV*/
    border: solid 1px blue;
    /* ^^^ DELETE SOON ^^^ */
}

.book-content{
    flex-direction: column;
    gap: 8px;
}

.book-status-avail{
    align-items: center;
    height: 32px;
    padding: 0 12px;
    background-color: var(--semantic-success-surface-color);
    width: max-content !important;
    border-radius: 12px;
}

.book-status-not-avail{
    align-items: center;
    height: 32px;
    padding: 0 12px;
    background-color: var(--semantic-danger-surface-color);
    width: max-content !important;
    border-radius: 12px;
}

p#avail{
    font-size: 12px;
    font-family: 'Satoshi-Medium';
    color: var(--semantic-success-main-color);
    margin: 0 !important;
    height: fit-content;
}

p#not-avail{
    font-size: 12px;
    font-family: 'Satoshi-Medium';
    color: var(--semantic-danger-main-color);
    margin: 0;
    height: fit-content;
}

p.book-collection-title{
    font-size: 16px;
    font-family: 'Satoshi-Bold';
    color: var(--neutral-100-color);
    margin: 0;
    height: fit-content;

    /* text hidden */
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    /* number of lines to show */
    line-clamp: 2;
    -webkit-box-orient: vertical;
}

.book-collection-infos{
    justify-content: space-between;
    width: 100%;
}

.book-collection-info{
    flex-direction: column;
    gap: 0;
}

.book-collection-info-heading{
    font-size: 12px;
    font-family: 'Satoshi-Medium';
    color: var(--neutral-60-color);
    margin: 0;
    height: fit-content;
}

.book-collection-info-value{
    font-size: 14px;
    font-family: 'Satoshi-Medium';
    color: var(--neutral-100-color);
    margin: 0;
    height: fit-content;

    /* text hidden */
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    /* number of lines to show */
    line-clamp: 1;
    -webkit-box-orient: vertical;

}

.book-collection-info-divider{
    height: 20px;
}




/* MAIN: COLLECTION/COLLECTIONS/BOOKS/BOOK */
.book-collection{
    /* background-color: #121212; */
    width: 169px;
    height: 334px;
}

a.page:hover{
    cursor:pointer;
}

/* TABLE */

.container-main-table{
    width: calc(100% - 260px - 20px - 20px);
    background-color: var(--neutral-10-color);
    border: solid 2px var(--neutral-20-color);
    height: fit-content;
    border-radius: 12px;
    padding: 20px;
    flex-direction: column;
    gap: 16px;
}

.heading-page{
    justify-content: center;
}

.heading-page > h1{
    font-family: 'Satoshi-Bold';
    font-size: 24px;
    margin: 0;
    color: var(--neutral-100-color);
}

.heading-page > p{
    font-family: 'Satoshi-Medium';
    font-size: 14px;
    margin: 0;
    color: var(--neutral-60-color);
}

.action-container{
    width: 100%;
    height: max-content;
}

.action-container > input{
    width: 212px;
}

button.enabled[type='button']{
    gap: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    padding: 0 12px;
    font-family: 'Satoshi-Bold';
    min-width: 120px;
    font-size: 16px;
    /* margin: 0; */
    color: var(--neutral-10-color);
    background-color: var(--primary-main-color);
    border: 0;
    border-radius: 12px;
}

button.full-width[type='button']{
    width: 100% !important;
}

button.secondary[type='button']{
    background-color: var(--neutral-30-color) !important;
    color: var(--neutral-100-color) ;
}

button.danger[type='button']{
    background-color: var(--semantic-danger-main-color) !important;
    color: var(--neutral-10-color) ;
}



button.enabled[type='button']#icon-button{
    padding: 0 20px 0 12px;
}

/* Tabel */

table{
    width: 100%;
    border-bottom: solid 2px var(--neutral-40-color);
    /* border-radius: 12px; */
    border-collapse: collapse;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    padding-right: 12px;
    table-layout: fixed;
}

table > thead{
    height: 48px;
    background-color: var(--neutral-20-color);
    vertical-align: middle;
    /* border-radius: 0 0 12px 0; */
}

table > tbody > tr{
    height: 52px;
    background-color: var(--neutral-10-color);
    vertical-align: middle;
    border-bottom: solid 2px var(--neutral-40-color);
    /* border-radius: 0 0 12px 0; */

}

th{
    vertical-align: middle;
    font-size: 14px;
    font-family: 'Satoshi-Bold';
    color: var(--neutral-100-color);
    padding: 0 12px;
    /* display: inline-block; */
}

.number-column{
    text-align: right;
}

.number-column#stock, .number-column#available{
    width: 12%;
}

.no-column{
    width: 8%;
}

.id-column{
    width: 20%;
}

.title-column{
    /* text hidden */
    /* overflow: hidden; */
    /* text-overflow: ellipsis; */
    /* display: -webkit-box; */
    /* -webkit-line-clamp: 1; */
    /* number of lines to show */
    line-clamp: 1;
    -webkit-box-orient: vertical;
    vertical-align: middle;
    /* padding: auto; */
}

.more-icon-column{
    width: 52px;
    padding-right: 24px;
}

td{
    vertical-align: middle;
    font-size: 14px;
    font-family: 'Satoshi-Medium';
    color: var(--neutral-100-color);
    padding: 0 12px;

}

tr:first-child th:first-child {
    border-top-left-radius: 12px;
}

tr:first-child th:last-child {
    border-top-right-radius: 12px;
}


/* Start: Dashboard */

/* Start: Summarize */

.dashboard{
    gap: 16px;
}

.summarizes-container{
    height: 132px;
    /* background-color: aqua; */
    width: 100%;
    gap: 12px;
}

.summarize-item{
    box-sizing: border-box;
    background-color: var(--neutral-10-color);
    border-radius: 12px;
    border: solid 2px var(--neutral-20-color);
    justify-content: space-between;
    padding: 16px;
    width: 20%;
}

.summarize-content{
}

.icon-container{
    width: 32px;
    height: 32px;
    /* padding: 6px; */
    background-color: var(--primary-tint-color);
    border-radius: 8px;
}

.icon-container > svg{
    align-items: center;
}

p.summarize-title{
    margin: 0;
    display: block;
    font-family: 'Satoshi-Medium';
    font-size: 12px;
    color: var(--neutral-60-color);
}

p.summarize-value{
    margin: 0;
    display: block;
    font-family: 'Satoshi-Bold';
    font-size: 24px;
    color: var(--neutral-100-color);
}

/* End: Summarize */

/* Start: Borrowing */

.borrowing-container{
    gap: 8px;
}

h2.main-heading{
    margin: 0;
    display: block;
    font-family: 'Satoshi-Bold';
    font-size: 18px;
    color: var(--neutral-100-color);
}

.tab-menu{
    height: 44px;
    width: 100%;
    flex: auto;
}

.tab-item{
    padding: 0 20px;
    border-bottom: solid 2px var(--neutral-50-color);
}

a.tab-title{
    text-decoration: none;
    margin: 0;
    display: block;
    font-family: 'Satoshi-Bold';
    font-size: 14px;
    color: var(--neutral-60-color);
}

.tab-item-active{
    padding: 0 20px;
    border-bottom: solid 3px var(--primary-main-color);
}

a.tab-title-active{
    text-decoration: none;
    margin: 0;
    display: block;
    font-family: 'Satoshi-Bold';
    font-size: 14px;
    color: var(--primary-main-color);
}

.rest{
    border-bottom: solid 2px var(--neutral-50-color);
    width: 100%;
    /* background-color: brown; */
}

.borrowing-cards-container{
    margin-top: 12px;
    gap: 12px;
}

.borrowing-card-header{
    justify-content: center;
    align-items: stretch;
}

.borrowing-card{
    /* flex: 1; */
    min-width: 218px;
    height: 148px;
    padding: 16px;
    background-color: var(--neutral-10-color);
    border: solid 2px var(--neutral-20-color);
    border-radius: 12px;
}

.borrowing-card:hover{
    cursor: pointer;
    box-shadow: var(--shadows-preset);
    border: solid 2px var(--neutral-30-color);
}

.borrowing-card:active{
    cursor: default;
    box-shadow: var(--shadows-preset);
    border: solid 2px var(--primary-main-color);
}

p.borrowing-id{
    text-decoration: none;
    margin: 0;
    display: block;
    font-family: 'Satoshi-Medium';
    font-size: 12px;
    color: var(--neutral-60-color);
}

.borrowing-status{
    /* vertical-align: middle; */
    height: 32px;
    padding: 0 16px;
    /* background-color: aqua; */
    align-items: center;
    border-radius: 8px;
    width: fit-content;
}

.borrowing-status > p{
    font-family: 'Satoshi-Medium';
    font-size: 12px;
    display: inline-block;
    margin: 0;
    height: min-content;
}

.borrowing-status#waiting{
    background-color: var(--neutral-20-color);
}

.borrowing-status#waiting > p{
    color: var(--neutral-70-color);
}
.borrowing-status#confirmed{
    background-color: var(--semantic-success-surface-color);
}

.borrowing-status#confirmed > p{
    color: var(--semantic-success-main-color);
}
.borrowing-status#borrowed{
    background-color: var(--semantic-warning-surface-color);
}

.borrowing-status#borrowed > p{
    color: var(--semantic-warning-main-color);
}
.borrowing-status#done{
    background-color: var(--primary-tint-color);
}

.borrowing-status#done > p{
    color: var(--primary-main-color);
}
.borrowing-status#reject{
    background-color: var(--semantic-danger-surface-color);
}

.borrowing-status#reject > p{
    color: var(--semantic-danger-main-color);
}


p.borrowing-card-title{
    margin: 0;
    display: block;
    font-family: 'Satoshi-Bold';
    font-size: 18px;
    color: var(--neutral-100-color);
}

p.borrowing-card-date{
    margin: 0;
    display: block;
    font-family: 'Satoshi-Medium';
    font-size: 12px;
    color: var(--neutral-60-color);
}


/* End: Borrowing */

/* End: Dashboard */


/* Start: Cart */

.cart-container{
    display: none;
    flex-direction: column;
    float: right;
    position: fixed;
    right: 0;
    /* width: 100%; */
    width: 297px;
    height: calc(100vh - 88px);
    /* background-color: aqua; */
    background-color: var(--neutral-10-color);
    border-left: solid 2px var(--neutral-20-color);
    margin-top: 88px;
    justify-content: space-between;
}

.detail-borrowing-container{
    padding: 20px;
    flex-direction: column;
    width: 100%;
    height: calc(100% - 80px);
    /* background-color: aqua; */
    gap: 12px;
    overflow: scroll;
}

.detail-borrowing-container::-webkit-scrollbar {
    display: none;
}

.close-button{
    height: 20px;
    width: 20px;
    border: 0;
    background-color: transparent;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.cart-detail-information{
    width: 100%;
    gap: 8px;
}

.not-editable-information{
    width: 100%;
    padding: 16px;
    background-color: var(--neutral-10-color);
    border: solid 2px var(--neutral-20-color);
    border-radius: 12px;
    gap: 12px;
}

.not-editable-item{
    gap: 4px;
}

h4.not-editable-item-heading{
    font-family: 'Satoshi-Medium';
    font-size: 14px;
    color: var(--neutral-70-color);
    width: fit-content;
    display: block;
    height: fit-content;
    margin: 0;
    padding: 0;
}

p.not-editable-item-value{
    font-family: 'Satoshi-Bold';
    font-size: 16px;
    color: var(--neutral-100-color);
    width: fit-content;
    display: block;
    height: fit-content;
    margin: 0;
    padding: 0;
}

input{
    border-radius: 12px;
    height: 48px;
    display: block;
    padding: 9px 4px 9px 40px;
    background-color: var(--neutral-20-color);
    border: solid 1px var(--neutral-30-color);
    padding: 0 12px;
}

.inputfields > input{
    width: 100%;
}

.input-fields > label{
    font-family: 'Satoshi-Medium';
    font-size: 16px;
    color: var(--neutral-100-color);
    width: fit-content;
    display: block;
    height: fit-content;
    margin: 0;
    padding: 0;
}

.input-fields{
    gap: 4px;
}

.submit-container{
    width: 100%;
    height: 80px;
    background-color: var(--neutral-10-color);
    border-top: solid 2px var(--neutral-20-color);
    bottom: 0;
    padding: 12px 16px;
    align-items: center;
    justify-content: center;
}

.books-ordered-container{
    margin-top: 8px;
    /* background-color: brown; */
    width: 100%;
    gap: 8px;
}

h3.heading3{
    font-family: 'Satoshi-Bold';
    font-size: 18px;
    color: var(--neutral-100-color);
    width: fit-content;
    display: block;
    height: fit-content;
    margin: 0;
    padding: 0;
}

.books-ordered-group{
    gap: 12px;
}

.book-ordered-item{
    width: 100%;
    flex: auto;
    /* background-color: aquamarine; */
    gap: 8px;
}

.book-ordered-item-content{
    width: calc(100% - 78px);
    max-height: 100%;
    justify-content: space-between;
}

img.book-ordered-image{
    width: 78px;
    height: 94px;

    /* VVV DELETE SOON VVV*/
    border: solid 1px blue;
    /* ^^^ DELETE SOON ^^^ */
}

p.book-ordered-title{
    font-family: 'Satoshi-Bold';
    font-size: 14px;
    color: var(--neutral-100-color);
    width: fit-content;
    display: block;
    height: fit-content;
    margin: 0;
    padding: 0;
}

.book-orderd-sub-info{
    justify-content: space-between;
    padding-right: 8px;
}

p.book-ordered-author{
    font-family: 'Satoshi-Bold';
    font-size: 12px;
    color: var(--neutral-100-color);
    width: fit-content;
    display: block;
    height: fit-content;
    margin: 0;
    padding: 0;
}

p.book-ordered-year{
    font-family: 'Satoshi-Medium';
    font-size: 12px;
    color: var(--neutral-100-color);
    width: fit-content;
    display: block;
    height: fit-content;
    margin: 0;
    padding: 0;
}

.book-orderd-sub-info > button[type='button']{
    border: 0;
    background-color: transparent;
}

/* End: Cart */


/* Start: Guest Level */

.container-main-guest{
    margin-top: 20px;
    width: calc(100% - 20px  20px);
    background-color: var(--neutral-10-color);
    /* border: solid 2px var(--neutral-20-color); */
    height: fit-content;
    border-radius: 12px;
    padding: 0 20px;
    flex-direction: column;
    gap: 16px;
}

.landing-area{
    padding-top: 88px;
    height: calc(100vh);
    width: 100%;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.4), rgba(0,0,0, 0.1)), url(../img/foto-ruangbaca.jpg);
    background-position: center;
    background-size: cover;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    align-items: center;

}

.landing-text{
    gap: 8px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.landing-text > h1{
    font-family: 'Satoshi-Bold';
    font-size: 44px;
    color: var(--neutral-10-color);
    width: fit-content;
    display: block;
    height: fit-content;
    margin: 0;
    padding: 0;
}

.landing-text > p{
    font-family: 'Satoshi-Medium';
    font-size: 20px;
    color: var(--neutral-10-color);
    width: fit-content;
    display: block;
    height: fit-content;
    margin: 0;
    padding: 0;
}



/* End: Guest Level */


/* Start: Modal Collection */

.modal-custom-collection{
    border-radius: 16px !important;
    width: 410px !important;
    padding: 24px 20px;
    margin: 0 auto;
}

h3.modal-heading{
    margin: 0 !important;
    display: block;
    font-family: 'Satoshi-Bold';
    font-size: 20px;
    color: var(--neutral-100-color);
}

span.modal-heading-id{
    margin: 0;
    display: block;
    font-family: 'Satoshi-Medium';
    font-size: 12px;
    color: var(--neutral-50-color);
}

.modal-header{
    padding: 0 !important;
    margin-bottom: 12px;
}

.modal-body{
    padding: 0 !important;
}

.book-cover-detail{
    width: 111px;
    height: 134px;
    object-fit: cover;
    object-position: 0 100%;
}

h4#book_title, h4#thesis_title{
    margin: 0;
    display: block;
    font-family: 'Satoshi-Bold';
    font-size: 18px;
    color: var(--neutral-100-color);
}

.details{
    gap: 4px;
}

.judul{
    padding: 0 !important;
}

div#synopsis{
    padding: 0;
    margin-top: 8px;
}

div#synopsis > p{
    margin: 0;
    display: block;
    font-family: 'Satoshi-Medium';
    font-size: 16px;
    color: var(--neutral-100-color);
}

.modal-book-detail > h5{
    margin: 0;
    display: block;
    font-family: 'Satoshi-Regular';
    font-size: 16px;
    color: var(--neutral-90-color);
}

.modal-book-detail > span{
    margin: 0;
    display: block;
    font-family: 'Satoshi-Medium';
    font-size: 16px;
    color: var(--neutral-100-color);
    text-align: right;
}

.modal-button-top-margin{
    margin-top: 40px;
}

.modal-button-group{
    align-items: flex-end;
    justify-content: flex-end;
}

.modal::-webkit-scrollbar {
    display: none !important;
}

.info-modal-full-width{
    max-width: 56%;
}

/* End: Modal Collection */

/* Start: Modal Confirmation Borrowing */

.modal-custom-confirmation{
    border-radius: 16px !important;
    width: 732px !important;
    padding: 24px 20px;
    margin: 0 auto;
}

/* Start: Modal Confirmation Borrowing */

.modal-details-areas{
    width: 100%;
    gap: 12px;
}

.modal-confrim-information-area{
    max-width: 257px;
}

h5.modal-confirm-heading{
    font-size: 18px;
    font-family: 'Satoshi-Medium';
    color: var(--neutral-100-color);
    display: block;
    height: max-content;
    margin: 0 !important;
    padding: 0 !important;
}

.modal-confirm-detail-container{
    border-radius: 12px;
    border: solid 2px var(--neutral-20-color);
    padding: 16px;
}

.modal-confirm-detail-area{
    gap: 8px;
}

.modal-confirm-information-contianer{
    width: 257px;
}

.modal-confirm-information-item{
    gap: 4px;
}

.modal-confirm-detail-contianer{
    max-height: 60vh;
    overflow-y: scroll;    
}


.modal-confirm-detail-contianer::-webkit-scrollbar {
    display: none;
}

.font-size-16px{
    font-size: 16px !important;
}